@media (min-width: 992px) {
	.dropdown:hover > .dropdown-menu {
		display: block;
	}
	.dropdown > .dropdown-toggle:active {
		pointer-events: none;
	}
}

@media (max-width: 1440px) {
	.container {
		padding: 65px 100px;
	}
	header .container {
		padding: 0 70px 0;
	}
	header .navbar-brand img {
		width: 180px;
	}
	.package .package-content .btn,
	.services .services-content .btn {
		font-size: 1.15rem;
	}
	.package .package-content .btn img,
	.services .services-content .btn img {
		width: 32px;
	}
}

@media (max-width: 1999px) {
	footer .footer-brand img {
		width: 300px;
	}
}

@media (max-width: 991px) {
	.container {
		padding: 50px 80px;
	}
	header .container {
		padding: 0 50px 0;
	}
	header .container {
		justify-content: inherit;
	}
	header .navbar .navbar-brand {
		margin-right: auto;
	}
	header .navbar-brand img {
		width: 150px;
	}
	header .offcanvas-header h5 {
		font-weight: 600;
		color: var(--text);
	}
	header .offcanvas-header i {
		font-size: 1.4rem;
	}
	header .navbar-nav {
		gap: 0;
	}
	header .navbar-nav .nav-item .nav-link,
	header .navbar-nav .nav-item.dropdown i {
		color: var(--textBlack);
	}
	header .navbar-nav .nav-item .nav-link {
		padding: 8px 10px;
		border-radius: 5px;
	}
	header .navbar-nav .nav-item .nav-link:hover,
	header .navbar-nav .nav-item.dropdown .nav-link:hover ~ i {
		color: var(--textWhite);
		background: var(--text);
	}
	header .navbar-nav .nav-item:last-child {
		display: none;
	}
	header .navbar-nav .nav-item.dropdown {
		margin-right: 0;
	}
	header .navbar-nav .nav-item.dropdown i {
		font-size: 1.29rem;
		color: var(--textWhite);
		background: var(--text);
		padding: 8px;
		top: 0;
		right: 0;
		cursor: pointer;
		border-radius: 5px;
	}
	header .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
		padding: 8px 20px;
	}
	header .navbar .login-btn {
		display: inherit;
	}
	footer .footer-newsletter form {
		width: 60%;
	}
	.portfolio .portfolio-content-wrapper {
		height: 744px;
	}
}

@media (max-width: 767px) {
	.container {
		padding: 40px 60px;
	}
	header .container {
		padding: 0 35px 0;
	}
	footer .footer-newsletter form {
		width: 80%;
	}
	.portfolio .portfolio-content-wrapper {
		overflow: inherit;
		height: inherit;
	}
}

@media (max-width: 575px) {
	.container {
		padding: 40px;
	}
	header .container {
		padding: 0 25px 0;
	}
	header .navbar .navbar-toggler i {
		font-size: 1.25rem;
		color: var(--textWhite);
	}
	header .navbar-brand img {
		width: 130px;
	}
	footer .footer-brand img {
		width: 200px;
	}
	footer .footer-newsletter form {
		width: 100%;
	}
	.copy-right .copy-right-wrapper {
		text-align: center;
		flex-direction: column;
		gap: 7px;
	}
	.package .package-content .swiper-slide {
		height: 350px;
	}
	.services .services-title h1 {
		margin: 0 0 50px;
	}
	.portfolio .portfolio-buttons {
		margin: 0 0 35px;
	}
}

@media (max-width: 375px) {
	.container {
		padding: 30px 20px;
	}
	header .container {
		padding: 0 15px 0;
	}
	.copy-right .container {
		padding: 15px 5px;
	}
	.package .package-content .swiper-slide {
		height: 300px;
	}
	.portfolio .portfolio-content img {
		height: 220px;
	}
}
